<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Happy birthday</title>

  <!--  <link rel="stylesheet" href="css/style.css">-->


</head>

<body>


<div class="wrapper">
  <div id="scene">
    <div class="snow">
      <div class="flake"></div>
      <div class="flake"></div>
      <div class="flake"></div>
      <div class="flake"></div>
      <div class="flake"></div>
      <div class="flake"></div>
      <div class="flake"></div>
      <div class="flake"></div>
      <div class="flake"></div>
      <div class="flake"></div>
      <div class="flake"></div>
      <div class="flake"></div>
      <div class="flake"></div>
      <div class="flake"></div>
      <div class="flake"></div>
      <div class="flake"></div>
      <div class="flake"></div>
      <div class="flake"></div>
      <div class="flake"></div>
      <div class="flake"></div>
      <div class="flake"></div>
      <div class="flake"></div>
      <div class="flake"></div>
      <div class="flake"></div>
      <div class="flake"></div>
      <div class="flake"></div>
      <div class="flake"></div>
      <div class="flake"></div>
      <div class="flake"></div>
      <div class="flake"></div>
      <div class="flake"></div>
      <div class="flake"></div>
      <div class="flake"></div>
      <div class="flake"></div>
      <div class="flake"></div>
      <div class="flake"></div>
      <div class="flake"></div>
      <div class="flake"></div>
      <div class="flake"></div>
      <div class="flake"></div>
      <div class="flake"></div>
      <div class="flake"></div>
      <div class="flake"></div>
      <div class="flake"></div>
      <div class="flake"></div>
      <div class="flake"></div>
      <div class="flake"></div>
      <div class="flake"></div>
      <div class="flake"></div>
      <div class="flake"></div>
    </div>
    <div class="text">
      <h1>Happy Birthday To Me</h1>
      <h2>22 Years Old</h2>
    </div>
    <div class="tree one"></div>
    <div class="tree two"></div>
    <div class="tree three"></div>
    <div class="tree four"></div>
    <div class="tree five"></div>
  </div>
  <!--.bea -->
  <div class="platform">
    <div class="quote">You will do better</div>
  </div>
</div>


</body>

</html>
